h2{
    color:white;
}
table {
   
    width: 100%;
    border: 1px solid #000;
 }
 th, td {
    
    text-align: center;
    vertical-align: top;
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 0.3em;
    caption-side: bottom;
    color:white;
 }
 a{
    color:white;
    text-decoration: none; 
    margin-right:2rem;
    font-size: 1.8rem;
 }
 a:hover{
    color: #11ffa9;
}
button{
   background-color:#1E8AD9;
   border: 0;
   padding: 10px;
   font-size: 2rem;
   font-family: 'Indie Flower', cursive;
   color:white;
   border-radius: 20px; 
   
}  
.botones{
   margin: 2rem auto;
   width: 25rem;
}
.botones_adopcion{
   margin: 2rem auto;
   width: 40rem;
}
.botones_usuario{
   margin: 2rem auto;
   width: 30rem;
}
input{
   border-radius: 8px;
   background-color: #a8c2d5;
   border:0;
   padding: 10px;    
   font-family: 'Indie Flower', cursive;
   width: 15rem;
   height: 2rem;
}
.tabla_taller{
   margin-top:3rem;
   
}
.imagen_perro{
   width:100px;
}
.tabla{
   background: #1E8AD9;
}
