*{
    padding: 0;
    margin:0;
}
html{
    font-size: 62.5%; /* cambiamos a 10px como base para hacer la conversion a rems más facil*/
    }
body{
    font-family: 'Indie Flower', cursive;
    font-size: 1.7rem;
}
h1{
    font-size:3.8rem;
}
.logo{
    border-radius: 10px;
}

.site-header.inicio{
    background-image: url('../Imagenes/Imagen.jpg');
    height: 100vh; /*permite que se cubra el alto total disponible*/
    min-height: 60rem; /*alutra minima que tendra la imagen*/
    background-position: center center;/*Muestra el contenido de la imagen desde el centro*/
    background-size: cover;/*Permite que se vea toda la imagen*/
}
.main-contenedor{
    max-width: 100rem;    
    margin: 5rem auto;    
}

.barra{
    display:flex;
    justify-content: space-between; /*posicionar los elementos al final. alinea horizontalmente*/
    padding-top: 3rem;    
    align-items: center; /*alinea verticalmente*/
    width:100rem;
    margin:0 auto;
}

.navegacion a{
    color:white;
    text-decoration: none; /*quitamos la linea de decoracion de los enlaces*/
    margin-right:2rem;
    font-size: 1.8rem;
}
.navegacion a:hover{
    color: #11ffa9;
}
.navegacion a:last-of-type{ /*seleccionamos al ultimo elemento para que no tenga margin*/
    margin:0;
}
.contenido-header{
    display: flex;
    flex-direction: column;/*recorre de arriba hacia abajo*/
    justify-content: space-between; /*ya que usamos flex direction column ahora justify content alinea veticalmente*/
    height: 100%;
}
.contenedor-footer{
    display:flex;
    background-color: black;
    max-width: 100%;
    height: 7.5rem;
    align-items: center;    
    justify-content: center;        
}
.nav_footer a{
    margin:6rem;
}
.ayudamos{
    display:flex;  
    justify-content: space-between;  
}
.img_ayudamos, .ayudamos_texto{
    flex-basis: calc(50% - 1rem);
}
section{
    margin-top: 2rem;
 }