body{
    
}
.site-header.inicio{
    background-image: url('../Imagenes/Imagen.jpg');
    height: 100vh; /*permite que se cubra el alto total disponible*/
    min-height: 600px; /*alutra minima que tendra la imagen*/
    background-position: center center;/*Muestra el contenido de la imagen desde el centro*/
    background-size: cover;/*Permite que se vea toda la imagen*/
}
.contenedor{
    max-width: 1000px;
    margin: 0 auto;
}

.barra{
    display:flex;
    justify-content: space-between; /*posicionar los elementos al final. alinea horizontalmente*/
    padding-top: 30px;    
    align-content: center; /*alinea verticalmente*/
}

.navegacion a{
    color:white;
    text-decoration: none; /*quitamos la linea de decoracion de los enlaces*/
    margin-right:20px;
    font-size: 18px;
}
.navegacion a:hover{
    color: #11ffa9;
}
.navegacion a:last-of-type{ /*seleccionamos al ultimo elemento para que no tenga margin*/
    margin:0;
}
