.navegacion{
    display: inline;
    color: brown;
    flex-wrap: nowrap;
    flex-direction: initial;   

}
.lista{

    list-style: none;
    text-decoration: none;
    color:white;
}


.navegacion{
    width: 100%;
    background-color: #2175bc;


}
.navegacion_div{
    width: 80%;  
    display: inline;
    justify-content: space-between ;  
}
.navegacion2_div{
    width: 20%;
    display: inline;
    justify-content: space-between ;
}
body{
    background-image: url('Imagenes/perritos.jpg');
    
    
}