body{
    height: 100vh;
    font-size: 3rem;
}
.contenido{
    max-width: 100%;
    background-image: url('../Imagenes/perrito_login.jpg');
    height: 100vh;
    background-position: center center;
    background-size: cover;
       
}
.Formulario{
    display:flex;    
    margin: 0 auto;
    flex-direction: column;    
    align-items: center;       
}

.ultimo{
    margin-bottom:30px;
}
button{
    background-color:#1E8AD9;
    border: 0;
    padding: 10px;
    font-size: 3rem;
    font-family: 'Indie Flower', cursive;
    color:white;
    border-radius: 20px;   
    
}
.elemento{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
.elemento.iniciada{
    display:inline;
    border-radius: 8px;
}

input{
    border-radius: 8px;
    background-color: #a8c2d5;
    border:0;
    padding: 10px;    
    font-family: 'Indie Flower', cursive;
    width: 15rem;
    height: 2rem;
}


