*{
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
    
}
body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    min-height: 10vh;
    font-family:'Indie Flower', cursive;
    
}
.contenido{
    flex: 1;
    background-image: url('../Imagenes/perrito_registro.jpg');
    background-position: center center;
    background-size: cover;
    display: flex;
    width:100%;
}
form{
    margin:auto;
    max-width: 500px;
    color:white;
    padding: 30px;
    
}

input{
    display: block;
    padding: 10px;
    width: 100%;
    margin: 2px 0;
    font-size: 20px;
    height: 10px;  
    font-family: 'Indie Flower', cursive; 
}
input[type="submit"] {
    background: linear-gradient(#FFDA63,#FFB940);
    border: 0;
    color: brown;
    opacity: 0.8;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 0;
    height: 40px;
    font-family:'Indie Flower', cursive;

}
input[type="date"] {
    height: 1px;
}